<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Exemplo de Formulário</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!--link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script-->
    </head>
    <body>
        <form method="POST" action="/form_recebe">
            <label for="nome">Digite o seu Nome</label>
            <input type="text" name="nome" id="">
            <label for="sobrenome">Digite o seu Sobrenome</label>
            <input type="text" name="sobrenome" id=""> 
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>